@{
    ViewBag.Title = "About";
}
<center><p>Our Campus</p></center>
<center><img src="~/Images/Campus.png" /></center>
<center>
    <p> A. Galaxy building</p>
    <p>B. Brown building</p>
    <p>C. Silver Building</p>
    <p>D. Queen building</p>
    <p>E. Gateway house</p>
    <p>F. Mars building</p>
</center>
<p>
    Term Dates</p>
<p>

    The academic year begins in September and is divided into three terms: fall semester, spring semester, and summer semester. The most crucial dates for your time at Information and Technology College are listed below.
</p>
<p>
    2023/2024 </p>
<p>
    Autumn Term</p>
<p>
    Start of term: Monday 6 September 2023</p>
    <p> Half term: Monday 18 October to Friday 22 October 2023</p>
   <p> End of term: Friday 17 December 2023 </p>
<br />
<p>
    Spring Term</p>
<p>
    Start of term: Tuesday 4 January 2024</p>
   <p> Half term: Monday 14 February to Friday 18 February 2024</p>
    <p>End of term: Friday 8 April 2024</p>
<br />
<p>
    Summer Term</p>
<p>
    Start of term: Monday 25 April 2024 </p>
<br/>
<p>
    May Day Bank Holiday: Monday 2 May 2024</p>
<br/>
<p>
    Spring Bank Holidays: Thursday 2 and Friday 3 June 2024</p>
<br/>
<p>
    End of term: Friday 24 June 2024</p>
<br/>
<p>
    To find out more call us 0116 999 666 or email us if you require more information.
</p>