@{
    ViewBag.Title = "Contact";
}
<link href="~/Stylesheets/Contact.css" rel="stylesheet" />
<body>
    <center><img src="~/Images/Educational-Logo.png" width="200" height="150" /></center>
    <div style="text-align:center">
        <h2>Contact Us</h2>
        <p>Please contact us if you have any questions or queires:</p>
    </div>
    <center>
        <div class="column">
            <form action="~/Views/Home/Contact.cshtml">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <label for="surname">SurName</label>
                <input type="text" id="surname" name="surname" placeholder="Your surname..">
                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="leicester">Leicester</option>
                    <option value="birmingham">Birmingham</option>
                    <option value="nottingham">Nottingham</option>
                    <option value="london">London</option>
                </select>
                <p>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Your email..">
                </p>
                <div>
                    <textarea id="query" name="query" placeholder="Query/Questions.." style="height:170px"></textarea>
                </div>

                    <a href="~/Views/Home/Submit.cshtml">
                    <input type="button" value="Submit">
                </a>
            </form>
        </div>
    </center>
</body>

