@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><img src="~/Images/Educational-Logo.png" width="200" height="150" /></center>
    <h1>Information and Technology College</h1>
    <p class="lead">Information and Technology College is one of the best College's in the east midlands.'</p>
    <p>@*<a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></*@
    <img src="~/Images/College.jpg" height="500" width="1000" />
    <p>
        A welcome message.....
        We are delighted to be a vibrant, modern, and diverse learning environment at Information and Technology College. Our youngest students come here once a week after school to study practical qualifications in addition to their GCSEs, while our oldest student just celebrated her 100th birthday.
        We serve all sectors of our community, from entry-level courses to degree-level study: whether you want to try something new by taking an evening course, acquire an Access diploma to go to university, or study full time on one of our vocational courses, we can help you achieve your goals.
</p>
    <p>
        So whether you're a high school graduate, an adult learner, or an apprentice, there's a place for you.So whether you are a school leaver, a mature learner, or an apprentice, there is a place for you here. We are proud of everyone who is part of Leicester College.

        Associate College at De Montfort University
        We cooperate with De Montfort University as an Associate College to provide pathways to degree level in a variety of subject areas following study at Leicester College. Importantly, students who complete one of our International Foundation Programmes (IFPs) will be automatically admitted to a corresponding De Montfort University undergraduate (Bachelor's degree) programme. Of course, our IFPs can lead to enrolment in any UK university's higher education programme.
        Teaching and learning that is of high quality
        </p>
<p>
        Our state-of-the-art facilities and expert instruction equip our students with the knowledge, skills, and experience they need to be leaders in their fields, paving the way for employment and further education. Studying with us means you'll get more individualised attention than you would at most universities, thanks to our smaller class sizes.
        You can take a look at our variety of different courses through the courses page....
    </p>
</div>

