@{
    ViewBag.Title = "Submit";
}

<!DOCTYPE html>
<center><img src="~/Images/Educational-Logo.png" width="200" height="150" /></center>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> </title>
</head>
<body>
    <div>
        <center><h1> You have successfully submitted your enquiry.</h1><br /> <h2>Shortly a member of staff will be in contact with you!!!</h2></center>
    </div>
    <center><a href="@Url.Action("Index","Home")">Return to Homepage</a></center>
</body>
</html>
