@{
    ViewBag.Title = "UpdatedDetails";
}

<!DOCTYPE html>
<center><img src="~/Images/Educational-Logo.png" width="200" height="150" /></center>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> </title>
</head>
<body>
    <div>
        <center><h1>Your details have been updated.</h1></center>
    </div>
    <center><input type="button" value="Return to Homepage" class="btn"></center>
</body>
</html>